version: "3.9"

services:
  backend:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: aureole-backend
    ports:
      - "8000:8000"
    env_file:
      - ./app/.env
    depends_on:
      - db
    restart: always
    networks:
      - aureole

  frontend:
    build:
      context: ./interface
      dockerfile: Dockerfile
    container_name: aureole-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
    networks:
      - aureole

  db:
    image: ankane/pgvector:latest
    container_name: aureole-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aureole
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: always
    networks:
      - aureole

volumes:
  pgdata:


networks:
  aureole:
